*.cer
*.crt
*.der
*.key
*.pem
*.priv
**/.DS_Store
.env
.env.backup
.idea
.phpunit.cache
.phpunit.result.cache
/_ide_helper.php
/.idea
/.php-cs-fixer.cache
/.phpstorm.meta.php
/.vscode
/node_modules
/vendor
build
composer.lock
coverage
docker-compose.override.yml
docs
Homestead.json
Homestead.yaml
npm-debug.log
phpstan.neon
phpunit.xml
testbench.yaml
yarn-error.log
